{% load static %}
<html lang="ru"> 
<head> 
    <title>Лучший кликер на планете</title>     
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head> 
<body>
    <h1>Этот кликер - самый лучший кликер на Земле</h1>
    <div class="nav">
        Чего ждешь, <div class="beauty_text">{{ user.username }}</div>? Гладь кошко-девчонку!
        
    </div>
    <main class="app">

        <div class = "info">
            Сейчас у тебя <div class = "beauty_text info_el"  id='coins'> {{core.coins}} </div> кошко-монеток <br>
            Невероятная мощь клика: <div class="beauty_text info_el" id="click_power">{{ core.click_power }}</div> <br>
            Кошка сама себя жамкает на: <div class="beauty_text info_el" id="auto_click_power">{{ core.auto_click_power }}</div> монеток <br>
            На следующий уровень нужно: <div class="beauty_text info_el" id="next_level_price">{{ core.next_level_price }}</div> кошко-монеток<br>
            <a href = "{% url 'login' %}" class="login_butt">Выйти</a><br>
        </div>

        <div class="cat_container">
            <p class = "cat_text">Жмакни меня, семпай! :3 А я тебе монетку дам</p>
            <button class = "cat_button" onclick="call_click()"></button>
        </div>

        <div>

        </div>


        <aside class="boosts" id="boosts"> 
            <h3>Бусты</h3> 
            <div class="boosts-holder" id="boosts-holder"> 
                
                {% for boost in boosts %}   
                    <button class="boost_{{boost.type}}" id="boost_{{boost.id}}" onclick="buy_boost({{boost.id}})">   
                        <p>lvl: <span id="boost_level">{{boost.level}}</span></p>   
                        <p>+<span id="boost_power">{{boost.power}}</span></p>   
                        <p><span id="boost_price">{{boost.price}}</span></p> 
                          
                    </button>   
                {% endfor %}
            </div> 
        </aside>
        
    </main>
</body> 
</html>