{% load static %}
<html lang="en"> 
<head> 
    <title>Регистрация в лучшем кликере</title> 
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head> 
<body>
    <h1>Регистрация</h1>
    <form action="{% url 'register' %}" method='POST'> 
        {% if form.errors %} 
            Паршиво регаешься, дружок-пирожок
        {% endif %} 
        {% csrf_token %} 
        {{ form.as_p }} 
        <input type="submit"> 
        <a href="{% url 'login' %}">Зарегистрирован?</a>
    </form> 
</body> 
</html>